<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="portfolio">
            <a class="header__a" href="/">FREELANCE PORTFOLIO</a>
        <div class="header__menu">MENU</div>

        <ul class="header__list">
            <li><a href="#portfolio"></a>PORTFOLIO</li>
            <li><a href="#about"></a>ABOUT</li>
            <li><a href="https://wa.me/541140480575"></a>CONTACT</li>
        </ul>
        </div>
    </header>

    <main>
        <div class="img__profile">
            <img src="/images/me-profile.png" alt="img-profile" >
        </div>
        <ul class="tittle__profile">
            <li>FREELANCE</li>
            <li>PORTFOLIO</li>
        </ul>
        <div class="line__star">
            <hr><i class="fa-sharp fa-solid fa-star"></i><hr>
        </div>
        <ul class="description__profile">
            <li>Web Developer  -</li>
            <li>Graphic Artist  -</li>
            <li>User Experience Designer</li>
        </ul>
    </main>

    <section>
        <div class="tittle__portfolio">PORTFOLIO</div>
        <div class="line__star--blue">
            <hr class="hr--blue"><i class="fa-sharp fa-solid fa-star"></i><hr class="hr--blue">
        </div>
    </section>
 
    <section class="designs--container">
        <div class="design">
            <img src="/images/cabin.png" alt="" width="100%" >
        </div>
        <div class="design">
            <img src="/images/cake.png" alt="" width="100%" >
        </div>
        <div class="design">
            <img src="/images/circus.png" alt="" width="100%" >
        </div>
        <div class="design">
            <img src="/images/game.png" alt="" width="100%" >
        </div>
        <div class="design">
            <img src="/images/safe.png" alt="" width="100%" >
        </div>
        <div class="design">
            <img src="/images/submarine.png" alt="" width="100%" >
        </div>
     </section>

     <section class="about">
        
        <p>ABOUT</p>
        <div class="line__star">
            <hr><i class="fa-sharp fa-solid fa-star"></i><hr>
        </div>
        <div class="ul__about">
        <ul>
            <li>🎓 Studying Full Stack Web Development in Digital House with Fundación through a scholarship.</li>
            <li>💼 Currently work as a Community Manager.</li>
            <li>⭐ Critical thinking, decision-making and problem-solving skills</li>
        </ul>
        <ul>
            <li>👩🏻‍💻 Languages and Tools</li>
            <li><a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Code-JavaScript-informational?style=flat&logo=javascript&logoColor=white&color=2bbc8a"/> </a>
                <a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Code-C++-informational?style=flat&logo=c++&logoColor=white&color=2bbc8a"/> </a>
                <a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Code-HTML5-informational?style=flat&logo=html5&logoColor=white&color=2bbc8a"/> </a>
                <a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Shell-Bash-informational?style=flat&logo=gnu-bash&logoColor=white&color=2bbc8a"/> </a>
                <a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Tools-Docker-informational?style=flat&logo=docker&logoColor=white&color=2bbc8a"/> </a>
                <a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Tools-GitHub-informational?style=flat&logo=github&logoColor=white&color=2bbc8a"/> </a>
                <a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Tools-GitLab-informational?style=flat&logo=gitlab&logoColor=white&color=2bbc8a"/> </a>
                <a href="https://www.linkedin.com/in/estefania-luddeni/" target="_blank"> <img src="https://img.shields.io/badge/Tools-Trello-informational?style=flat&logo=gitlab&logoColor=white&color=2bbc8a"/> </a>
            </li>
        </ul>
        </div>

        <div  class="download__cv">
            <a href="cv/cv.pdf" download="cv.pdf"><i class="fa-solid fa-download"></i> Download CV</a>
        </div>

     </section>

     <section class="section__contact">

     <div class="section__contact--me">CONTACT ME</div>
        <div class="line__star--blue">
            <hr class="hr--blue"><i class="fa-sharp fa-solid fa-star"></i><hr class="hr--blue">
        </div>

     <div class="contact">

        <form class="contact__me">
            <div class="contact__form">
                <label for="name">Name</label><br>
                <input class="name" type="text" name="name">
            </div>
            <div class="contact__form">
                <label for="email">Email Address</label><br>
                <input class="email" type="email" name="email">
            </div>
            <div class="contact__form">
                <label for="tel">Phone Number</label><br>
                <input class="tel" type="tel" name="tel">
            </div>
            <div class="contact__form">
                <label for="text" class="label-message">Message</label><br>
                <input class="message" type="text" name="text">
            </div>
            <div class="contact__form">
                <button type="submit" class="form__btn"><a class="btn__link" href="https://wa.me/541140480575">Send</a></button>
            </div> 
        </form>
    </div>
</section>

     <footer>
        <div class="footer__info">

        <article class="info__individual">
            <div>
                <b>LOCATION</b>
            </div>
            <div>
                <span>Buenos Aires, Argentina</span>
            </div>
        </article>
        <article class="info__individual">
            <div>
                <b>ABROUND THE WEB</b>
            </div>
            <div class="footer__btns-social">
                <a href="https://www.linkedin.com/in/estefania-luddeni/" class="btns__icon"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://www.twitch.tv/nahiska_" class="btns__icon"><i class="fa-brands fa-twitch"></i></a>
                <a href="https://www.instagram.com/stefyluddeni/" class="btns__icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/LuddeniStefy" class="btns__icon"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://wa.me/541140480575" class="btns__icon"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </article>
        <article class="info__individual">
            <div class="footer__about">
                <b>ABOUT FREELANCER</b>
            </div>
            <div>
                <span>Freelance is a free and open source landing page theme created to <a href="https://github.com/Nahiska?tab=repositories" target="_blank"> Estefanía Luddeni</a> </span>
            </a>
        </article>
         </div>
        
        <div class="footer__copyright">
            <i class="fa-regular fa-copyright"></i> Copyright 2023 | Todos los derechos reservados <a href="https://github.com/Nahiska?tab=repositories">Estefanía Luddeni</a>
        </div>
   
     </footer>
</body>
</html>